 {% block head %}
 <!DOCTYPE html>
 <html lang="en" class="no-js">
 <head>
 	<meta charset="UTF-8" />
 	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
 	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 	<title>Goncalo Pestana</title>

 	<meta name="description" content="Gonçalo Pestana's personal blog with wanders about social entrepreneurship, coding and awesomeness. " />
 	<meta name="keywords" content="Gonçalo Pestana, social innovation, social entrepreneurship, coding" />
 	<meta name="author" content="Codrops" />

 	<link rel="stylesheet" type="text/css" href="../static/css/tooltipster.css" />
 	<link rel="stylesheet" type="text/css" href="../static/css/default.css" />
 	<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
 	<script src="../static/js/modernizr.custom.js"></script>
 	<script src="../static/js/jquery.js"></script>
 	<script type="text/javascript" src="../static/js/jquery.tooltipster.min.js"></script>

	<script>
        $(document).ready(function() {
            $('.tooltip').tooltipster({
            	delay: 200,
  				fixedWidth: 100,
  				interactive: true,
  				position: 'left',
    			theme: '.search'

    		});
        });
    </script>

 </head>
 {% endblock %}
 {% block basic %}
 <body>
 	<div class="container">
 		<header class="clearfix">
 			<h1>Gonçalo Pestana</h1>
 			<h4> Not just another blog (this one is written in broken latin)</h4>
 			(header ?)
 		</header>
		


<!-- JUST SKETCHING THE MENU-->
 		<ul class="cbp-vimenu">
 		<center>
 		(logo or social media icons)
 			<li><a href="/blog" class="icon-logo">Logo</a></li> Gonçalo Pestana<br><b>Full stack & HW dev | Entrepreneurship | Social ventures</b>
<h5>Thinker and doer committed to make the difference by addressing the most challenging humanitarian problems through technology and entrepreneurial mindset.</h5> 
<form name="input" action="/search/" method="POST" enctype="multipart/form-data"> <input type="text" name="query" placeholder="Keywords..."><input id="searchSubmit" type="submit" value="Search">
</center>
<br><br>
<h3>Categories</h3>
<br>
<p>Social entrepreneurship</p>
<br>
<p>Webdev</p>
<br>
<br>
 <h3>Tags</h3>
<br>
<p>Social entrepreneurship</p>
<br>
<p>Webdev</p>

<br>
<br>
 <br>
 Bio | Projects | Blog
<br>
<br>
<br>
Google ads
</center>

		</ul>


 		

		{% endblock %}
		
		<div class="main">
			{% block main %}<!-- HERE -->{% endblock %}
		</div>
	</div>
</body>


</html>
