 {% block head %}
 <!DOCTYPE html>
 <html lang="en" class="no-js">
 <head>
 	<meta charset="UTF-8" />
 	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
 	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 	<title>Goncalo Pestana</title>

 	<meta name="description" content="Gonçalo Pestana's personal blog with wanders about social entrepreneurship, coding and awesomeness. " />
 	<meta name="keywords" content="Gonçalo Pestana, social innovation, social entrepreneurship, coding" />
 	<meta name="author" content="Codrops" />

 	<link rel="stylesheet" type="text/css" href="../static/css/tooltipster.css" />
 	<link rel="stylesheet" type="text/css" href="../static/css/default.css" />
 	<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
 	<script src="../static/js/modernizr.custom.js"></script>
 	<script src="../static/js/jquery.js"></script>
  <script src="../static/js/main.js"></script>

  <script type="text/javascript" src="../static/js/jquery.tooltipster.min.js"></script>


  <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
//loadCategories();
//loadTags();
</script>

{% if posts is defined %}
<script>
  window.last_post_id = '{{posts[0].id}}';
  $(document).ready(loadMorePostsDirect());
</script>
{%endif%}


</head>
{% endblock %}
{% block basic %}
<body>
  <div class="container">

<ul class="cbp-vimenu">
  <div class="content-menu">
<h2>Gonçalo Pestana</h2>
<hr>
<center><p>full stack developer; passionate about social entrepreneurship and travelling </p></center>
 
<br>
<br>
<br>
<div class = "blognav">
 blog navigation:
   {% include "snippets/category_list.html" %}
   {% include "snippets/tags_list.html" %}
</div>
 
</div>
</ul>

<div class = "footnote">
<center>blog engine and content free to share. code in github. proudly by gonçalo pestana</center>
</div> 

{% endblock %}

<div class="main">
 {% block main %}<!-- HERE -->{% endblock %}
</div>
</div>
</body>

<form class ="search" name="input" action="/search/" method="POST" enctype="multipart/form-data"> <input type="text" name="query" placeholder="search"><br>

</html>
