{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}
{% block basic %}
{{ super() }}
{% endblock %}

{% block main %}

{% for post in posts %}
{% if loop.index == 1 %}
{% include "snippets/full_post.html" %}
<br><br>
{% if singlePost != True %}
<h2>Older posts</h2>
<div class ="morePostsStructure"></div>
<center><a class="loadMore" href="#shortPost" onclick="loadMorePosts()"> There's more to read... </a></center>
<center><div class="loadingAnimation"></div></center>
{% else %}
<a href="/blog"> <h3>Back</h3> </a>
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}