{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}
{% block basic %}
{{ super() }}
{% endblock %}

{% block main %}

<script>
	function loadMorePosts() {
		var req = $.ajax({
			url: "http://127.0.0.1:5000/_getPosts?callback=?",
			type: "GET",
			cache: false,
			data: { 
				post_id: last_post_id, 
				nr_posts: 2
			},
			dataType: "jsonp"
		}).done(function(data) {
			if(data.posts == 0){
				$( "a.loadMore" ).replaceWith("Ups, after all there's no more posyts to read :D");			
				console.log(data)
			} else {
				console.log(data.posts[0].category);
				for (var i = 0; i < data.posts.length; i++) {
					var s = data.posts[i].id
					var structure ='<div class = "shortPost"><a class="title" id = "postLink'+s+'" href =></a><p id = "content'+s+'" ></p><p><a id = "postLink'+s+'" href =>Read post</a></p><div class="postFooter'+s+'">at <strong><span id ="date'+s+'"></span></strong> by <strong><span id = "author'+s+'"></span></strong><br><strong><a id = "tagLink'+s+'" href =>#<span id="tagName'+s+'"><span></a></strong></div></div>'

					$( "div.morePostsStructure" ).append(structure);

					$("a#postLink"+s).attr("href", "/post/"+data.posts[i].id);
					$("a#postLink"+s+".title").append("<h3>"+data.posts[i].title+"</h3>")
					$("p#content"+s).append(data.posts[i].content);
					$("span#date"+s).append(data.posts[i].date);
					$("span#author"+s).append(data.posts[i].author);

					last_post_id = (data.posts[i].id)

					if (last_post_id == '{{last_id}}') {
						$("a.loadMore").replaceWith("No more posts to fetch!");
					}

				}
			}
		});
	};

</script>



{% for post in posts %}
{% if loop.index == 1 %}
{% include "snippets/full_post.html" %}
<br>
<br>
<h2>Older posts</h2>
{% else %}
{% include "snippets/short_post.html" %}
{% endif %}
{% endfor %}

<div class ="morePostsStructure"></div>

<center><a class="loadMore" href="#" onclick="loadMorePosts()"> There's more to read... </a></center>
{% endblock %}